.sobre-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 0;
}

.sobre-box {
    background: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.sobre-box-texto h2 {
    font-size: 1.8rem;
    color: #c00;
    margin-bottom: 1rem;
}

.sobre-box-texto p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
}

.sobre-box-imagem {
    text-align: center;
    padding: 1rem;
gap:1rem;
justify-content: space-around;
}   

.sobre-logo {
    width: 100%;
    display: flex;
    max-width: 200px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.sobre-box-info h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.sobre-box-info p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}