.motivacao-box {
    background: #fff;
    padding: 2rem;
    margin: 1.5rem auto; 
    border-radius: 0.5rem; 
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}


.motivacao-box p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #c00; 
}

.campanha-lista {
    display: flex;
    flex-direction: column; 
    gap: 1.5rem; 
}

.campanha-card {
    background: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.campanha-card-info h3 {
    font-size: 1.5rem;
    color: #c00;
}

.campanha-card-info p {
    color: #555;
    font-size: 1rem;
    margin-bottom: 1rem; 
}
.galeria-fotos {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 1rem; 
    margin-top: 1rem; 

}
.img-galeria{
    display: block;
    max-width: 300px;
    width: 100%;
    height: 200px;
    border-radius: 0.5rem; 
}

.campanha-descricao p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-top: 2rem;
}