main section {
    background-color: #ffffff; 
    margin: 1.5rem auto; 
    padding: 2rem 0; 
    border-radius: 8px; 
}


.galeria-fotos {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 1rem; 
    margin-top: 1rem; 
}
.img-galeria{
    justify-content: space-between;
    display: block;
    max-width: 300px;
    width: 100%;
    height: 200px;
    border-radius: 0.5rem; 
}

.estoque-grid {
    display: flex; 
    flex-wrap: wrap; 
    gap: 1rem; 
}
.tipo-sanguineo {
    flex-basis: 23%;
    flex-grow: 1;
    min-width: 150px; 
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
}
.tipo-sanguineo h3 {
    color: #c00;
    font-size: 2rem;
}